<robot name = "robot">
    <link name="Segment0">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 255.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Segment0_Segment1" type="revolute">
       <parent link="Segment0"/>
       <child  link="Segment1"/>
       <origin rpy="0 0 0" xyz="0.5 0 0.5" />
     <axis xyz="-0.4838180274140158 -0.5587355338016065 0.9671818654895519"/>
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Segment1">
        <inertial>
            <origin xyz="0.5462476861728032 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5462476861728032 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.0924953723456063 1.015645875740245 0.9814292846517929" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5462476861728032 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.0924953723456063 1.015645875740245 0.9814292846517929" />
            </geometry>
        </collision>
    </link>
    <joint name="Segment1_Segment2" type="revolute">
       <parent link="Segment1"/>
       <child  link="Segment2"/>
       <origin rpy="0 0 0" xyz="1.0924953723456063 0 0.5" />
     <axis xyz="-0.06893311404062263 -0.9841789111290216 -0.6736050038555617"/>
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Segment2">
        <inertial>
            <origin xyz="0.540022704988417 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.540022704988417 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.080045409976834 1.0692359101377207 1.1311582935249191" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.540022704988417 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.080045409976834 1.0692359101377207 1.1311582935249191" />
            </geometry>
        </collision>
    </link>
    <joint name="Segment2_Segment3" type="revolute">
       <parent link="Segment2"/>
       <child  link="Segment3"/>
       <origin rpy="0 0 0" xyz="1.080045409976834 0 0.5" />
     <axis xyz="-0.15858214011468896 -0.11166173757064746 -0.26331830937753997"/>
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Segment3">
        <inertial>
            <origin xyz="0.4735066556566121 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4735066556566121 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.9470133113132242 0.8235215383790513 0.8089023135879772" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4735066556566121 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.9470133113132242 0.8235215383790513 0.8089023135879772" />
            </geometry>
        </collision>
    </link>
    <joint name="Segment3_Segment4" type="revolute">
       <parent link="Segment3"/>
       <child  link="Segment4"/>
       <origin rpy="0 0 0" xyz="0.9470133113132242 0 0.5" />
     <axis xyz="-0.8361628367649234 -0.010111355696310387 -0.010394728950527732"/>
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Segment4">
        <inertial>
            <origin xyz="0.5632781324190526 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5632781324190526 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.1265562648381051 1.17798275159962 1.0908279034967356" />
            </geometry>
            <material name="Green">
                <color rgba="0 255.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5632781324190526 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.1265562648381051 1.17798275159962 1.0908279034967356" />
            </geometry>
        </collision>
    </link>
    <joint name="Segment4_Segment5" type="revolute">
       <parent link="Segment4"/>
       <child  link="Segment5"/>
       <origin rpy="0 0 0" xyz="1.1265562648381051 0 0.5" />
     <axis xyz="-0.5827953822025236 -0.028290603313307683 0.2249244376279409"/>
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Segment5">
        <inertial>
            <origin xyz="0.4917285964767292 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4917285964767292 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.9834571929534583 0.8254602922912071 1.1218257947700108" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4917285964767292 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.9834571929534583 0.8254602922912071 1.1218257947700108" />
            </geometry>
        </collision>
    </link>
</robot>